<.page_header title="Domains" class="px-0 pt-0" />
<div>
  <.live_component module={DomainsTable} id="domains-table" domains={@domains} />
  <Pagination.render metadata={@domains_metadata} on_page_change="page_changed" />
</div>
