<div id={"#{@id}-wrapper"} class="flex items-center gap-3">
  <.switch id={@id} name={@field.name} checked={@default_value} />
  <Cognit.Label.label for={"#{@id}-input"} class="text-body-sm">
    {@label}
  </Cognit.Label.label>
</div>
