<.page_header title="Contexts" class="px-0 pt-0" />
<div>
  <.live_component module={ContextsTable} id="contexts-table" contexts={@contexts} />
  <Pagination.render metadata={@contexts_metadata} on_page_change="page_changed" />
</div>
